.header {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-6) 0;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.logo {
    border-radius: var(--border-radius-large);
}
