.container {
    max-width: 700px;
    padding: var(--spacing-5);
    margin: 0 auto;
}
@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

.textContainer {
    max-width: 700px;
    margin: 0 auto;
    padding: var(--spacing-5);
}

@media (min-width: 700px) {
    .container, .textContainer {
        padding: var(--spacing-5) 0;
    }
}

.textContainer a:has(img:only-child) {
    display: block;
}
.textContainer img {
    width: 100%;
}
@media (min-width: 1000px) {
    .textContainer code[class] {
        position: relative;
        left: -150px;
        width: calc(100% + 300px);
        max-width: 100vw;
    }
}
@supports selector(:has(a)) {
    @media (min-width: 1000px) {
        .textContainer a:has(img:only-child),
        .textContainer p > img {
            position: relative;
            left: -150px;
            width: calc(100% + 300px);
            max-width: 100vw;
        }
    }
}
@supports not selector(:has(a)) {
    @media (min-width: 1000px) {
        .textContainer img {
            position: relative;
            left: -150px;
            width: calc(100% + 300px);
            max-width: 100vw;
        }
    }
}

.noPadding {
    padding-top: 0;
    padding-bottom: 0;
}

.textContainer code[class] {
    display: block;
    padding: var(--spacing-4);
    overflow-x: auto;
}
.textContainer blockquote {
    background-color: var(--gray-200);
    padding: var(--spacing-5);
    border-left: 4px solid var(--primary-default);
}
.textContainer blockquote p {
    margin: 0;
}

.textContainer img, .textContainer code[class], .textContainer blockquote {
    margin: var(--spacing-6) 0;
    border-radius: var(--border-radius-default);
    box-shadow: var(--shadow-500);
}
