.section {
    height: 70vh;
    display: flex;
    align-items: center;
}
.section > div {
    flex: 1 0 0;
}
.section a {
    text-decoration: none;
}
.preIntro {
    color: var(--primary-text);
}

.name {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-3);
    font-size: 48px;
}
.line {
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
    color: var(--gray-700);
}
.line span {
    font-weight: bold;
    color: var(--gray-800);
}

.postHeading {
    display: flex;
    justify-content: space-between;
}
.postHeading h3 {
    margin: 0;
}
.postHeading a {
    text-decoration: none;
}

.icons {
    display: flex;
}
.icons a {
    display: block;
    width: auto;
    margin-right: var(--spacing-4);
}

.icons svg {
    width: var(--spacing-6);
    height: var(--spacing-6);
    fill: var(--primary-text);
    transition: fill var(--transition-500);
}

.icons a:hover svg, .icons a:focus svg {
    fill: var(--primary-default);
}
